<div class="home-section instagram" data-scrolled-animations-target="instaPosition" data-action="scroll@window->scrolled-animations#instaGrow">
  <div class="page-padding insta">
    <%# <div class="raisin">
      <%= image_tag("SVG/OELP_raisin_rose.svg") %>
    <%# </div> %>
    <% @instagrams.each do |insta| %>
      <div class="top-left" data-scrolled-animations-target="insta">
        <%= cl_image_tag insta.top_left_photo.key %>
      </div>
      <div class="top-right" data-scrolled-animations-target="insta">
        <%= cl_image_tag insta.top_right_photo.key %>
      </div>
      <div class="bottom-left" data-scrolled-animations-target="insta">
        <%= cl_image_tag insta.bottom_left_photo.key %>
      </div>
      <div class="bottom-right" data-scrolled-animations-target="insta">
        <%= cl_image_tag insta.bottom_right_photo.key %>
      </div>
    <div class="insta-title-link">
      <h1>Join us on our Instagram</h1>
      <div class="insta-link">
        <button class="insta-btn top"><a href="<%=insta.link%>"><i class="fa-brands fa-instagram"></a></i></button>
        <button class="insta-btn layer"><i class="fa-brands fa-instagram"></i></button>
      </div>
    </div>
    <% end %>
  </div>
</div>
