<div class="home-section mid-h brand" data-action="scroll@window->scrolled-animations#translate">
  <div class="left-side-umbrella">
    <%= image_tag("SVG/OELP_parasol_vert.svg") %>
  </div>
  <div class="right-side-mouette" data-scrolled-animations-target="target">
    <%= image_tag("SVG/OELP_mouette1.svg") %>
  </div>
  <div class="grappe" data-scrolled-animations-target="target">
    <%= image_tag("SVG/OELP_raisin_rose.svg") %>
  </div>
  <div class="page-padding brand">
    <div class="baseline" data-scrolled-animations-target="target">
      <% @baselines.each do |b| %>
        <p><%= b.baseline %></p>
      <% end %>
    </div>
    <div class="brand-infos">
      <% @brand_infos.where(side: "Left").each do |b| %>
        <div class="infos left animate__animated" data-scrolled-animations-target="target">
          <h2><%= b.title %></h2>
          <p><%= b.content %></p>
        </div>
      <% end %>
      <% @brand_infos.where(side: "Right").each do |b| %>
        <div class="infos" data-scrolled-animations-target="target">
          <h2><%= b.title %></h2>
          <p><%= b.content %></p>
        </div>
      <% end %>
    </div>
    <div class="cheers">
      <div class="illus left" data-scrolled-animations-target="target">
        <%= image_tag("SVG/OELP_bouteille_rose.svg") %>
      </div>
      <div class="text" data-scrolled-animations-target="target">
        <h2>Tchin tchin !</h2>
        <h2>Cheers !</h2>
      </div>
      <div class="illus right" data-scrolled-animations-target="target">
        <%= image_tag("SVG/OELP_bouteille_blanc.svg") %>
      </div>
    </div>
  </div>
</div>
