  <div class="home-section yellow max-h cans" data-action="scroll@window->scrolled-animations#translate">
    <div class="section-title nimbus" data-scrolled-animations-target="title">
      <%= render 'shared/curved_title' %>
    </div>
    <div class="stars">
      <div class="stars0" data-scrolled-animations-target="star">
      <%= image_tag("SVG/OELP_stars2.svg") %>
      </div>
      <div class="stars1" data-scrolled-animations-target="star">
      <%= image_tag("SVG/OELP_stars2.svg") %>
      </div>
    </div>
    <div class="three-canvas" data-scrolled-animations-target="titlePosition">
      <% @cans.each do |can| %>
        <div class="canva"
          style="background-color: <%= can.color %>"
          data-three-target="canva"
          data-controller="three"
          data-three-label-value="<%= cl_image_path can.label.key %>"
          >
            <div class="infos">
                <span style="color: <%= can.color %>">i</span>
                <div class="bubble">
                  <h5><%= can.title %></h5>
                  <p><%= can.content %>
                </div>
            </div>
        </div>
      <% end %>
      <div class="cans-perso">
       <%= image_tag("SVG/OELP_perso2.svg") %>
      </div>
      <div class="cans-glaciere">
       <%= image_tag("SVG/OELP_glacière.svg") %>
      </div>
      <div class="cans-tonneau">
       <%= image_tag("SVG/OELP_tonneau.svg") %>
      </div>
    </div>
    <div class="wave">
      <%= image_tag("OELP_vague_bleue_up.svg") %>
    </div>
  </div>
