<div class="home-section min-h top">
  <div class="logo-wrapper">
    <div class="logo animate__animated animate__pulse animate__infinite">
      <%= image_tag("LOGO/OELP_logo.svg") %>
      <%# <%= image_tag("LOGO/OELP_logo_o.svg") %>
      <%# <%= image_tag("LOGO/OELP_logo_u.svg") %>
      <%# <%= image_tag("LOGO/OELP_logo_e.svg") %>
      <%# <%= image_tag("LOGO/OELP_logo_s.svg") %>
      <%# <%= image_tag("LOGO/OELP_logo_t.svg") %>
      <%# <%= image_tag("LOGO/OELP_logo_l.svg") %>
      <%# <%= image_tag("LOGO/OELP_logo_a.svg") %>
      <%# <%= image_tag("LOGO/OELP_logo_plage.svg") %>
    </div>
  </div>
  <div class="sun animate__animated animate__pulse animate__infinite">
    <%= image_tag("SVG/OELP_soleil.svg") %>
  </div>
  <div class="parasol-1">
    <%= image_tag("SVG/OELP_umbrella_sparkling_shadow_3.svg") %>
  </div>
  <div class="parasol-2">
    <%= image_tag("SVG/OELP_parasol_vert.svg") %>
  </div>
  <div class="ombre-parasol-2">
    <%= image_tag("SVG/OELP_ombre_parasol_2.svg") %>
  </div>
  <div class="parasol-3">
    <%= image_tag("SVG/OELP_umbrella_rose_shadow_1.svg") %>
  </div>
  <div class="serviette-1">
    <%= image_tag("SVG/OELP_serviette_2.svg") %>
  </div>
  <div class="serviette-2">
    <%= image_tag("SVG/OELP_serviette_1.svg") %>
  </div>
  <div class="transat-1">
    <%= image_tag("SVG/OELP_ombre&tranzat.svg") %>
  </div>
  <div class="mouette-1">
    <%= image_tag("SVG/OELP_mouette_posee_ombre.svg") %>
  </div>
  <div class="mouette-2 animate__animated animate__zoomInLeft">
    <div class="mouette-anim  animate__animated animate__pulse animate__infinite">
      <%= image_tag("SVG/OELP_mouette_vol_1.svg") %>
    </div>
    <div class="ombre mouette-anim animate__animated animate__pulse animate__infinite">
      <%= image_tag("SVG/OELP_ombre_mouette_vol_1.svg") %>
    </div>
  </div>
  <div class="mouette-3 animate__animated animate__zoomInRight">
    <div class="mouette-anim animate__animated animate__pulse animate__infinite">
      <%= image_tag("SVG/OELP_mouette_vol_2.svg") %>
    </div>
    <div class="ombre mouette-anim animate__animated animate__pulse animate__infinite">
      <%= image_tag("SVG/OELP_ombre_mouette_vol_2.svg") %>
    </div>
  </div>
  <div class="can-1">
    <%= image_tag("rose_front_back_small.png") %>
  </div>
  <div class="can-2">
    <%= image_tag("white_front_back_small.png") %>
  </div>
  <div class="wave">
    <%= image_tag("OELP_vague_jaune_up.svg") %>
  </div>
</div>
