  <div class="home-section yellow max-h cans" data-action="scroll@window->scrolled-animations#translate">
    <div class="section-title nimbus" data-scrolled-animations-target="can">
      <h1>Organic french wine in a can</h1>
    </div>
    <div class="three-canvas" data-scrolled-animations-target="canPosition">
      <% @cans.each do |can| %>
        <div class="canva"
          style="background-color: <%= can.color %>"
          data-three-target="canva"
          data-controller="three"
          data-three-label-value="<%= cl_image_path can.label.key %>"
          >
            <div class="infos">
                <span style="color: <%= can.color %>">i</span>
                <div class="bubble">
                  <p><%= can.content %>
                </div>
            </div>
        </div>
      <% end %>
    </div>
    <div class="wave">
      <%= image_tag("OELP_vague_bleue_up.svg") %>
    </div>
  </div>
