<div class="home-section yellow contact" data-action="scroll@window->scrolled-animations#translate">
    <div class="wanna nimbus" data-scrolled-animations-target="target"><h1>Wanna</h1></div>
    <div class="order nimbus" data-scrolled-animations-target="target"><h1>order</h1></div>
    <div class="some nimbus" data-scrolled-animations-target="target"><h1>some?</h1></div>
    <div class="left-side-mouette" data-scrolled-animations-target="target">
      <%= image_tag("SVG/OELP_mouette1.svg") %>
    </div>
    <div class="scene-1">
      <div class="parasol-1">
        <%= image_tag("SVG/OELP_parasol_vert.svg") %>
      </div>
      <div class="ombre-1">
        <%= image_tag("SVG/OELP_ombre_parasol_4.svg") %>
      </div>
      <div class="serviette-2">
        <%= image_tag("SVG/OELP_serviette_1.svg") %>
      </div>
      <div class="glaciere-2">
        <%= image_tag("SVG/OELP_glacière2.svg") %>
      </div>
      <div class="canette">
        <%= image_tag("SVG/OELP_canette_2.svg") %>
      </div>
    </div>
    <div class="glaciere">
     <%= image_tag("SVG/OELP_glacière.svg") %>
    </div>
    <div class="contact-btn">
      <button class="contact top" data-action="mouseout->scrolled-animations#hoverBtn"><%= link_to 'Contact us!', new_contact_path %></button>
      <button class="contact layer">Contact us!</button>
      <div class="contact-pink-umbrella">
        <%= image_tag("SVG/OELP_parasol_rose.svg") %>
      </div>
    </div>
    <div class="contact-mouette">
      <%= image_tag("SVG/OELP_mouette_posee_ombre.svg") %>
    </div>
    <div class="contact-bubble" data-scrolled-animations-target="bubble">
      <%= image_tag("OELP_bubble.svg") %>
      <div class="bubble-text">
        <span>DON'T BE AFRAID TO CLICK!</span>
      </div>
    </div>
    <div class="wave">
    <%= image_tag("OELP_vague_bleue_up.svg") %>
  </div>
</div>
