<div class="home-hero">
  <div class="home-section min-h top">
    <div class="logo">
      <div class="letters">
        <%= image_tag("LOGO/O.svg") %>
        <%= image_tag("LOGO/ù.svg") %>
        <%= image_tag("LOGO/E.svg") %>
        <%= image_tag("LOGO/s.svg") %>
        <%= image_tag("LOGO/t.svg") %>
        <%= image_tag("LOGO/L.svg") %>
        <%= image_tag("LOGO/a.svg") %>
      </div>
      <div class="word">
        <%= image_tag("LOGO/plage.svg") %>
      </div>
    </div>
    <div class="wave">
      <%= image_tag("yellow up.png") %>
    </div>
  </div>
  <div class="home-section yellow cans">
    <div class="section-title nimbus">
      <h1>Organic french wine in a can</h1>
    </div>
    <div class="wave">
      <%= image_tag("blue up.png") %>
    </div>
  </div>
  <div class="home-section brand max-h">
    <div class="left-side-umbrella">
      <%= image_tag("UMBRELLA GREEN.svg") %>
    </div>
    <div class="page-padding brand">
      <div class="baseline">
        <% @baselines.each do |b| %>
          <p><%= b.baseline %></p>
        <% end %>
      </div>
      <div class="brand-infos">
        <% @brand_infos.where(side: "Left").each do |b| %>
          <div class="infos">
            <h2><%= b.title %></h2>
            <p><%= b.content %></p>
          </div>
        <% end %>
        <% @brand_infos.where(side: "Right").each do |b| %>
          <div class="infos">
            <h2><%= b.title %></h2>
            <p><%= b.content %></p>
          </div>
        <% end %>
      </div>
      <div class="cheers">
        <div class="small-cans">
          <%= image_tag("Rose Front & Back small.png") %>
        </div>
        <div class="text">
          <h2>Tchin tchin !</h2>
          <h2>Cheers !</h2>
        </div>
        <div class="small-cans">
          <%= image_tag("White Front & Back small.png") %>
        </div>
      </div>
    </div>
  </div>
  <div class="home-section images">
    <div class="wave-down">
      <%= image_tag("blue down.png") %>
    </div>
    <div class="photos-wrapper">
      <% @photos.where(side: "Left").each do |p| %>
        <div class="photo left">
          <%= cl_image_tag p.photo.key %>
        </div>
      <% end %>
      <% @photos.where(side: "Right").each do |p| %>
        <div class="photo">
          <%= cl_image_tag p.photo.key %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="home-section yellow contact">
      <div class="you nimbus"><h1>You</h1></div>
      <div class="wanna nimbus"><h1>wanna</h1></div>
      <div class="order nimbus"><h1>order</h1></div>
      <div class="some nimbus"><h1>some?</h1></div>
      <div class="contact-green-umbrella">
        <%= image_tag("UMBRELLA GREEN.svg") %>
      </div>
      <div class="contact-btn">
        <button class="contact top">Contact us!</button>
        <button class="contact layer">Contact us!</button>
        <div class="contact-pink-umbrella">
          <%= image_tag("UMBRELLA ROSE.svg") %>
        </div>
      </div>
      <div class="wave">
      <%= image_tag("blue up.png") %>
    </div>
  </div>
  <div class="home-section instagram">
    <div class="page-padding insta">
      <% @instagrams.each do |insta| %>
        <div class="top-left">
          <%= cl_image_tag insta.top_left_photo.key %>
        </div>
        <div class="top-right">
          <%= cl_image_tag insta.top_right_photo.key %>
        </div>
        <div class="bottom-left">
          <%= cl_image_tag insta.bottom_left_photo.key %>
        </div>
        <div class="bottom-right">
          <%= cl_image_tag insta.bottom_right_photo.key %>
        </div>
      <div class="insta-title-link">
        <h1>Join us on our Instagram</h1>
        <div class="insta-link">
          <button class="insta-btn top"><a href="<%=insta.link%>"><i class="fa-brands fa-instagram"></a></i></button>
          <button class="insta-btn layer"><i class="fa-brands fa-instagram"></i></button>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
