<% if current_admin.admin? %>
<div class="container">
  <div class="page-padding">
    <div class="page-title">
      <h3> Update Instagram photos</h3>
    </div>
    <div class="form">
      <%= simple_form_for(@instagram) do |f| %>
        <%= f.input :top_left_photo, as: :file, label: "Top Left Photo :" %>
        <%= f.input :top_right_photo, as: :file, label: "Top Right Photo :" %>
        <%= f.input :bottom_left_photo, as: :file, label: "Bottom Left Photo :" %>
        <%= f.input :bottom_right_photo, as: :file, label: "Bottom Right Photo :" %>
        <%= f.input :link, placeholder: "Link to your Instagram account", label: "Link:" %>
        <div class="form-button">
          <button>
            <%= f.button :submit, "Publish" %>
          </button>
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
<% else %>
  <div class="container">
    <p>You're not authorized to access this page.</p>
  </div>
<% end  %>
